$c-gray: #eee;
$white: #fff;
$bg-button: #05C2DF;
$bg-aside: #191536;
$bg-aside-main: #000000B2;
$bg-aside-link: #110E25;
$bt-disabled-text: #929292;
$bg-pagination: #212121;
$header-gradient-start: #191536;
$header-gradient-end: #000;
$transition: 0.3s;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$design-min-width: 1920px;
